# DrawIO-files are stored among other images for later changes.
# However, they should not be copied into a container
*.drawio

# All files related to the presentation are not meant to be part
# of the final image
presentation/

# Files contained in the code directory are not related to the
# final Docker image and are therefore ignored
code/
